.App {
    display: grid;
    grid-template-columns: 1fr;    
    align-items: center;
    height: 100vh;
    gap: 3em;
}

@media (min-width: 768px) {
    .App {
        grid-template-columns: repeat(2, 1fr);
    }
}